<!-- Mobile Menu end -->
<div class="breadcome-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcome-list single-page-breadcome">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="breadcome-heading">
                                <form role="search" class="">
                                    <input type="text" placeholder="Search..." class="form-control">
                                    <a href=""><i class="fa fa-search"></i></a>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <ul class="breadcome-menu">
                                <li><a href="#">Home</a> <span class="bread-slash">/</span>
                                </li>
                                <li><span class="bread-blod">User Edit</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Single pro tab start-->
<div class="single-product-tab-area mg-tb-15">
    <!-- Single pro tab review Start-->
    <div class="single-pro-review-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="review-tab-pro-inner">
                        <ul id="myTab3" class="tab-review-design">
                            <li class="active"><a href="#description"><i class="fa fa-pencil" aria-hidden="true"></i>
                                    Product Edit</a></li>
                        </ul>
                        <div id="myTabContent" class="tab-content custom-product-edit">
                            <div class="product-tab-list tab-pane fade active in" id="description">
                                <form action="/users/edit-user/change-information?id={{User._id}}" method="POST" >
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        {{#if success_msg }}
                                        <div class="alert alert-success alert-dismissible show" role="alert">
                                            <strong>{{this.success_msg}}</strong>
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        {{/if}}
                                        <div class="review-content-section">
                                            <div class="input-group mg-b-pro-edt">
                                                <span class="input-group-addon"><b>Tài
                                                        Khoản&emsp;&emsp;&emsp;&nbsp;&nbsp;</b></span>
                                                <p type="text" class="form-control">{{User.Email}}</p>
                                            </div>
                                            <div class="input-group mg-b-pro-edt">
                                                <span
                                                    class="input-group-addon"><b>Tên&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;</b></span>
                                                <input name="Name" type="text" class="form-control" placeholder="Tên"
                                                    value="{{User.Name}}">
                                            </div>
                                            <div class="input-group mg-b-pro-edt">
                                                <span class="input-group-addon"><b>Số điện thoại&emsp;&emsp;</b></span>
                                                <input name="Phone" type="text" class="form-control"
                                                    placeholder="Số điện thoại" value="{{User.Phone}}">
                                            </div>
                                            <div class="input-group mg-b-pro-edt">
                                                <span class="input-group-addon"><b>Địa
                                                        chỉ&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;</b></span>
                                                <input name="Address" type="text" class="form-control"
                                                    placeholder="Địa chỉ" value="{{User.Address}}">
                                            </div>
                                        </div>
                                    </div>

                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="text-center mg-b-pro-edt custom-pro-edt-ds">
                                        <button  class="btn btn-primary waves-effect waves-light m-r-10" type="submit">Lưu
                                        </button>
                                        <a href="ListNguoiDung.html"><button type="button"
                                                class="btn btn-warning waves-effect waves-light">Đóng
                                            </button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
