
<!-- Sidebar end=============================================== -->
		<div class="span9">		
			<div class="well well-small">
			<h4>Sản phẩm nổi bật <small class="pull-right">200+ Sản phẩm nổi bật</small></h4>
			<div class="row-fluid">
			<div id="featured" class="carousel slide">
			<div class="carousel-inner">
			  <div class="item active">
			  <ul class="thumbnails">
				{{#each SpecialLaptop}}
				<li class="span3">
				  <div class="thumbnail">
				  <i class="tag"></i>
					<a href="/product/product_details/{{this.Brand}}?id={{this._id}}"><img src="{{this.Image}}" alt=""></a>
					<div class="caption">
					  <h5>{{this.Name}}</h5>
					  <h4><a class="btn" href="/product/product_details/{{this.Brand}}?id={{this._id}}">Xem</a> <span class="pull-right">{{this.Cost}}</span></h4>
					</div>
				  </div>
				</li>
				{{/each}}
			  </ul>
			  </div>
			   <div class="item">
			  <ul class="thumbnails">
				{{#each SpecialPhone}}
				<li class="span3">
				  <div class="thumbnail">
				  <i class="tag"></i>
					<a href="/product/product_details/{{this.Brand}}?id={{this._id}}"><img src="{{this.Image}}" alt=""></a>
					<div class="caption">
					  <h5>{{this.Name}}</h5>
					  <h4><a class="btn" href="/product/product_details/{{this.Brand}}?id={{this._id}}">Xem</a> <span class="pull-right">{{this.Cost}}</span></h4>
					</div>
				  </div>
				</li>
				{{/each}}
			  </ul>
			  </div>


			  </div>
			  <a class="left carousel-control" href="#featured" data-slide="prev">‹</a>
			  <a class="right carousel-control" href="#featured" data-slide="next">›</a>
			  </div>
			  </div>
		</div>
		<h4>LapTop </h4>
			  <ul class="thumbnails">
				{{# each laptops}}
				<li class="span3">
				  <div class="thumbnail">
					<a  href="/product/product_details/{{this.Brand}}?id={{this._id}}"><img src="{{this.Image}}" alt=""/></a>
					<div class="caption">
					  <h5>{{this.SimpleDetail}}</h5>
					 <h5 style="text-align:center"><a class="btn" href="/product/product_details/{{this.Brand}}?id={{this._id}}"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Thêm <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">{{this.Cost}}</a></h5>
					</div>
				  </div>
				</li>
				{{/each}}
			  </ul>	
			  <h4>Điện thoại</h4>
			   <ul class="thumbnails">
				{{# each phones}}
				<li class="span3">
				  <div class="thumbnail">
					<a  href="/product/product_details/{{this.Brand}}?id={{this._id}}"><img src="{{this.Image}}" alt=""/></a>
					<div class="caption">
					  <h5>{{this.SimpleDetail}}</h5>
					 <h5 style="text-align:center"><a class="btn" href="/product/product_details/{{this.Brand}}?id={{this._id}}"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Thêm <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">{{this.Cost}}</a></h5>
					</div>
				  </div>
				</li>
				{{/each}}
			  </ul>	

		</div>
		</div>
	</div>
</div>
<!-- Footer ================================================================== -->
	

