<!-- Sidebar end=============================================== -->
<div class="span9">
  <ul class="breadcrumb">
    <li><a href="/index">Home</a> <span class="divider">/</span></li>
    <li class="active">Lịch sử</li>
  </ul>


  <div id="myTab" class="pull-left">
    <a href="#chuagiao" data-toggle="tab"><span class="btn btn-large btn-primary">Chưa giao</span></a>
    <a href="#danggiao" data-toggle="tab"><span class="btn btn-large btn-primary">Đang giao</span></a>
    <a href="#dagiao" data-toggle="tab"><span class="btn btn-large btn-primary">Đã giao</span></a>

  </div>
  <br class="clr" />
  <br class="clr" />

  <div class="tab-content">
    <div class="tab-pane  active" id="chuagiao">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Mã đơn hàng</th>
            <th>Ngày đặt hàng</th>
            <th>Sản phẩm</th>
            <th>Tổng tiền</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{#each chuagiao}}
          <tr>
            <td>#{{this._id}}</td>
            <td>{{_toCompactDay this.Time}}</td>
            <td style="width:30%">
              {{#each this.Cart.items}}
              <span><img style="width:20%" src="{{this.item.Image}}" alt="" /></span>
              {{/each}}

            </td>
            <td>{{ _toStringMoney this.Cart.totalPrice}}</td>
            <td><a style="color: red;" href="/users/DetailOrder?id={{this._id}}">Quản lý</a></td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <div class="tab-pane" id="danggiao">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Mã đơn hàng</th>
            <th>Ngày đặt hàng</th>
            <th>Sản phẩm</th>
            <th>Tổng tiền</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{#each danggiao}}
          <tr>
            <td>#{{this._id}}</td>
            <td>{{_toCompactDay this.Time}}</td>
            <td style="width:30%">
              {{#each this.Cart.items}}
              <span><img style="width:20%" src="{{this.item.Image}}" alt="" /></span>
              {{/each}}

            </td>
            <td>{{ _toStringMoney this.Cart.totalPrice}}</td>
            <td><a style="color: red;" href="/users/DetailOrder?id={{this._id}}">Quản lý</a></td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <div class="tab-pane" id="dagiao">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Mã đơn hàng</th>
            <th>Ngày đặt hàng</th>
            <th>Sản phẩm</th>
            <th>Tổng tiền</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{#each dagiao}}
          <tr>
            <td>#{{this._id}}</td>
            <td>{{_toCompactDay this.Time}}</td>
            <td style="width:30%">
              {{#each this.Cart.items}}
              <span><img style="width:20%" src="{{this.item.Image}}" alt="" /></span>
              {{/each}}

            </td>
            <td>{{ _toStringMoney this.Cart.totalPrice}}</td>
            <td><a style="color: red;" href="/users/DetailOrder?id={{this._id}}">Quản lý</a></td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>

  </div>
</div>
</div>
</div>