<!-- Mobile Menu end -->
<div class="breadcome-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcome-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="breadcome-heading">
                                <form role="search" class="">
                                    <input type="text" placeholder="Search..." class="form-control">
                                    <a href=""><i class="fa fa-search"></i></a>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <ul class="breadcome-menu">
                                <li><a href="#">Home</a> <span class="bread-slash">/</span>
                                </li>
                                <li><span class="bread-blod">Dashboard V.1</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="traffic-analysis-area">
    <div class="container-fluid">
        <div class="row">

            <div class="product-status mg-tb-15">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="product-status-wrap">
                                {{#if day}}

                                <h4>Thống kê theo ngày</h4>
                                <div class="control-group">
                                    <label class="control-label">Chọn</label>
                                    <div class="controls">
                                        <form action="/statistical/day" method="GET">
                                            <span>Ngày</span>
                                            <select class="span1" name="day" id="mySelectDay">
                                                <option value="1">1&nbsp;&nbsp;</option>
                                                <option value="2">2&nbsp;&nbsp;</option>
                                                <option value="3">3&nbsp;&nbsp;</option>
                                                <option value="4">4&nbsp;&nbsp;</option>
                                                <option value="5">5&nbsp;&nbsp;</option>
                                                <option value="6">6&nbsp;&nbsp;</option>
                                                <option value="7">7&nbsp;&nbsp;</option>
                                                <option value="8">8&nbsp;&nbsp;</option>
                                                <option value="9">9&nbsp;&nbsp;</option>
                                                <option value="10">10&nbsp;&nbsp;</option>
                                                <option value="11">11&nbsp;&nbsp;</option>
                                                <option value="12">12&nbsp;&nbsp;</option>
                                                <option value="13">13&nbsp;&nbsp;</option>
                                                <option value="14">14&nbsp;&nbsp;</option>
                                                <option value="15">15&nbsp;&nbsp;</option>
                                                <option value="16">16&nbsp;&nbsp;</option>
                                                <option value="17">17&nbsp;&nbsp;</option>
                                                <option value="18">18&nbsp;&nbsp;</option>
                                                <option value="19">19&nbsp;&nbsp;</option>
                                                <option value="20">20&nbsp;&nbsp;</option>
                                                <option value="21">21&nbsp;&nbsp;</option>
                                                <option value="22">22&nbsp;&nbsp;</option>
                                                <option value="23">23&nbsp;&nbsp;</option>
                                                <option value="24">24&nbsp;&nbsp;</option>
                                                <option value="25">25&nbsp;&nbsp;</option>
                                                <option value="26">26&nbsp;&nbsp;</option>
                                                <option value="27">27&nbsp;&nbsp;</option>
                                                <option value="28">28&nbsp;&nbsp;</option>
                                                <option value="29">29&nbsp;&nbsp;</option>
                                                <option value="30">30&nbsp;&nbsp;</option>
                                                <option value="31">31&nbsp;&nbsp;</option>
                                            </select>
                                            <span>Tháng</span>

                                            <select class="span1" name="month" id="mySelectMonth">
                                                <option value="1">1&nbsp;&nbsp;</option>
                                                <option value="2">2&nbsp;&nbsp;</option>
                                                <option value="3">3&nbsp;&nbsp;</option>
                                                <option value="4">4&nbsp;&nbsp;</option>
                                                <option value="5">5&nbsp;&nbsp;</option>
                                                <option value="6">6&nbsp;&nbsp;</option>
                                                <option value="7">7&nbsp;&nbsp;</option>
                                                <option value="8">8&nbsp;&nbsp;</option>
                                                <option value="9">9&nbsp;&nbsp;</option>
                                                <option value="10">10&nbsp;&nbsp;</option>
                                                <option value="11">11&nbsp;&nbsp;</option>
                                                <option value="12">12&nbsp;&nbsp;</option>
                                            </select>
                                            <span>Năm</span>

                                            <select class="span1" name="year" id="mySelectYear">
                                                <option value="2019">2019&nbsp;&nbsp;</option>
                                                <option value="2020">2020&nbsp;&nbsp;</option>

                                            </select>
                                            <button type="submit">Tìm</button>
                                            <script>
                                                document.getElementById("mySelectDay").selectedIndex = {{ pos.day }};
                                                document.getElementById("mySelectMonth").selectedIndex = {{ pos.month }};
                                                document.getElementById("mySelectYear").selectedIndex = {{ pos.year }};

                                            </script>
                                        </form>

                                    </div>
                                </div>
                                {{/if}}
                                {{#if month}}
                                <h4>Thống kê theo tháng</h4>
                                <div class="control-group">
                                    <label class="control-label">Chọn</label>
                                    <div class="controls">
                                        <form action="/statistical/month" method="GET">
                                            <span>Tháng</span>

                                            <select class="span1" name="month" id="mySelectMonth">
                                                <option value="1">1&nbsp;&nbsp;</option>
                                                <option value="2">2&nbsp;&nbsp;</option>
                                                <option value="3">3&nbsp;&nbsp;</option>
                                                <option value="4">4&nbsp;&nbsp;</option>
                                                <option value="5">5&nbsp;&nbsp;</option>
                                                <option value="6">6&nbsp;&nbsp;</option>
                                                <option value="7">7&nbsp;&nbsp;</option>
                                                <option value="8">8&nbsp;&nbsp;</option>
                                                <option value="9">9&nbsp;&nbsp;</option>
                                                <option value="10">10&nbsp;&nbsp;</option>
                                                <option value="11">11&nbsp;&nbsp;</option>
                                                <option value="12">12&nbsp;&nbsp;</option>
                                            </select>
                                            <span>Năm</span>

                                            <select id="mySelectYear" class="span1" name="year">
                                                <option value="2019">2019&nbsp;&nbsp;</option>
                                                <option value="2020">2020&nbsp;&nbsp;</option>
                                            </select>
                                            <button type="submit">Tìm</button>
                                            <script>
                                                document.getElementById("mySelectYear").selectedIndex = {{ pos.year }};
                                                document.getElementById("mySelectMonth").selectedIndex = {{ pos.month }};
                                            </script>

                                        </form>


                                    </div>
                                </div>
                                {{/if}}
                                {{#if year}}
                                <h4>Thống kê theo năm</h4>
                                <div class="control-group">
                                    <label class="control-label">Chọn</label>
                                    <div class="controls">
                                        <form action="/statistical/year" action="get">
                                            <span>Năm</span>

                                            <select id="mySelectYear" class="span1" name="year">
                                                <option name="2019" value="2019">2019&nbsp;&nbsp;</option>
                                                <option name="2020" value="2020">2020&nbsp;&nbsp;</option>

                                            </select>
                                            <button type="submit">Tìm</button>
                                            <script>
                                                document.getElementById("mySelectYear").selectedIndex = {{ pos }};
                                            </script>
                                        </form>

                                    </div>
                                </div>
                                {{else}}
                                <h4>Thống kê từ trước tới nay</h4>
                                {{/if}}
                                <table>
                                    <tr>
                                        <th>Sản phẩm</th>
                                        <th>Loại sản phẩm</th>
                                        <th>Tên sản phẩm</th>
                                        <th>Thương hiệu</th>
                                        <th>Số lượng</th>
                                        <th>Doanh thu</th>
                                    </tr>
                                    {{#each products}}
                                    <tr>
                                        <td><img src={{this.product.Image}} /></td>
                                        <td>{{this.product.TypeProduct}}</td>
                                        <td>{{this.product.SimpleDetail}}</td>
                                        <td>{{this.product.Brand}}</td>
                                        <td>{{this.qty}}</td>
                                        <td>{{_toStringMoney this.total}}</td>
                                    </tr>
                                    {{/each}}

                                    <tr>
                                        <td>
                                            <h2>TỔNG</h2>
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <h3>{{_toStringMoney sumRevenue}}</h3>
                                        </td>

                                    </tr>


                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product-sales-area mg-tb-30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="product-sales-chart">
                        <div class="portlet-title">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="caption pro-sl-hd">
                                        <span class="caption-subject text-uppercase"><b>Bán sản phẩm</b></span>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="actions graph-rp">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <ul class="list-inline cus-product-sl-rp">
                            <li>
                                <h5><i class="fa fa-circle" style="color: rgba(255, 99, 132, 0.6);"></i>Asus</h5>
                            </li>
                            <li>
                                <h5><i class="fa fa-circle" style="color:rgba(54, 162, 235, 0.6)"></i>SamSung</h5>
                            </li>
                            <li>
                                <h5><i class="fa fa-circle" style="color:rgba(255, 206, 86, 0.6)"></i>Acer</h5>
                            </li>
                            <li>
                                <h5><i class="fa fa-circle" style="color:rgba(75, 192, 192, 0.6)"></i>Nokia</h5>
                            </li>
                            <li>
                                <h5><i class="fa fa-circle" style="color:rgba(153, 102, 255, 0.6)"></i>MSI</h5>
                            </li>
                            <li>
                                <h5><i class="fa fa-circle" style="color:rgba(255, 159, 64, 0.6)"></i>Lenovo</h5>
                            </li>
                        </ul>

                        <div>
                            <canvas id="myChart"></canvas>
                            <script>

                                let myChart = document.getElementById('myChart').getContext('2d');

                                // Global Options
                                Chart.defaults.global.defaultFontFamily = 'Lato';
                                Chart.defaults.global.defaultFontSize = 18;
                                Chart.defaults.global.defaultFontColor = '#777';

                                let massPopChart = new Chart(myChart, {
                                    type: 'bar', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
                                    data: {
                                        labels: ['Asus', 'SamSung', 'Acer', 'Nokia', 'MSI', 'Lenovo', 'Asus', 'SamSung', 'Acer', 'Nokia', 'MSI', 'Lenovo', 'Asus', 'SamSung', 'Acer', 'Nokia', 'MSI', 'Lenovo', 'Asus', 'SamSung', 'Acer', 'Nokia', 'MSI', 'Lenovo', 'Asus', 'SamSung', 'Acer', 'Nokia', 'MSI', 'Lenovo', 'Asus', 'SamSung', 'Acer', 'Nokia', 'MSI', 'Lenovo', 'Asus', 'SamSung', 'Acer', 'Nokia', 'MSI', 'Lenovo'],
                                        datasets: [{
                                            label: 'triệu ',
                                            data: [
                                                420,
                                                150,
                                                180,
                                                160,
                                                120,
                                                260,
                                                240,
                                                150,
                                                180,
                                                160,
                                                120,
                                                260,
                                                240,
                                                150,
                                                180,
                                                160,
                                                120,
                                                260,
                                                240,
                                                150,
                                                180,
                                                160,
                                                120,
                                                260,
                                                240,
                                                150,
                                                180,
                                                160,
                                                120,
                                                260,
                                                240,
                                                150,
                                                180,
                                                160,
                                                120,
                                                260,
                                                240,
                                                150,
                                                180,
                                                160,
                                                120,
                                                260,
                                                0
                                            ],
                                            //backgroundColor:'green',
                                            backgroundColor: [
                                                'rgba(255, 99, 132, 0.6)',
                                                'rgba(54, 162, 235, 0.6)',
                                                'rgba(255, 206, 86, 0.6)',
                                                'rgba(75, 192, 192, 0.6)',
                                                'rgba(153, 102, 255, 0.6)',
                                                'rgba(255, 159, 64, 0.6)',
                                                'rgba(255, 99, 132, 0.6)',
                                                'rgba(54, 162, 235, 0.6)',
                                                'rgba(255, 206, 86, 0.6)',
                                                'rgba(75, 192, 192, 0.6)',
                                                'rgba(153, 102, 255, 0.6)',
                                                'rgba(255, 159, 64, 0.6)',
                                                'rgba(255, 99, 132, 0.6)',
                                                'rgba(54, 162, 235, 0.6)',
                                                'rgba(255, 206, 86, 0.6)',
                                                'rgba(75, 192, 192, 0.6)',
                                                'rgba(153, 102, 255, 0.6)',
                                                'rgba(255, 159, 64, 0.6)',
                                                'rgba(255, 99, 132, 0.6)',
                                                'rgba(54, 162, 235, 0.6)',
                                                'rgba(255, 206, 86, 0.6)',
                                                'rgba(75, 192, 192, 0.6)',
                                                'rgba(153, 102, 255, 0.6)',
                                                'rgba(255, 159, 64, 0.6)',
                                                'rgba(255, 99, 132, 0.6)',
                                                'rgba(54, 162, 235, 0.6)',
                                                'rgba(255, 206, 86, 0.6)',
                                                'rgba(75, 192, 192, 0.6)',
                                                'rgba(153, 102, 255, 0.6)',
                                                'rgba(255, 159, 64, 0.6)',
                                                'rgba(255, 99, 132, 0.6)',
                                                'rgba(54, 162, 235, 0.6)',
                                                'rgba(255, 206, 86, 0.6)',
                                                'rgba(75, 192, 192, 0.6)',
                                                'rgba(153, 102, 255, 0.6)',
                                                'rgba(255, 159, 64, 0.6)',
                                                'rgba(255, 99, 132, 0.6)',
                                                'rgba(54, 162, 235, 0.6)',
                                                'rgba(255, 206, 86, 0.6)',
                                                'rgba(75, 192, 192, 0.6)',
                                                'rgba(153, 102, 255, 0.6)',
                                                'rgba(255, 159, 64, 0.6)',
                                                'rgba(255, 99, 132, 0.6)'
                                            ],
                                            borderWidth: 1,
                                            borderColor: '#777',
                                            hoverBorderWidth: 3,
                                            hoverBorderColor: '#000'
                                        }]
                                    },
                                    options: {
                                        title: {
                                            display: true,
                                            text: 'Doanh số bán các sản phẩm',
                                            fontSize: 25
                                        },
                                        legend: {
                                            display: true,
                                            position: 'right',
                                            labels: {
                                                fontColor: '#000'
                                            }
                                        },
                                        layout: {
                                            padding: {
                                                left: 50,
                                                right: 0,
                                                bottom: 0,
                                                top: 0
                                            }
                                        },
                                        tooltips: {
                                            enabled: true
                                        }
                                    }
                                });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>

    </script>