
<!-- Sidebar end=============================================== -->
	<div class="span9">
    <ul class="breadcrumb">
		<li><a href="index">Home</a> <span class="divider">/</span></li>
		<li class="active">Đăng kí</li>
    </ul>
	<h3> Đăng kí</h3>
	<div class="well">
		<form class="form-horizontal" method="POST" action="/register" >	
		{{# each errors}}
		<div class="alert alert-danger alert-dismissible show" role="alert">
 		 <strong>{{this.msg}}</strong>
  		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    	<span aria-hidden="true">&times;</span>
  		</button>
		</div>				
		{{/ each}}	
		<h4>THÔNG TIN CÁ NHÂN</h4>
		<div class="control-group">
			<label class="control-label" for="Name">Tên <sup>*</sup></label>
			<div class="controls">
			  <input type="text" name="Name" placeholder="Tên" value={{this.Name}}>
			</div>
		 </div>
		<div class="control-group">
		<label class="control-label" for="Email">Email <sup>*</sup></label>
		<div class="controls">
		  <input type="text" name="Email" placeholder="Email" value={{this.Email}}>
		</div>
	  	</div>	  
		<div class="control-group">
		<label class="control-label" for="Password1">Mật khẩu <sup>*</sup></label>
		<div class="controls">
		  <input type="password" name="Password" placeholder="Mật khẩu" >
		</div>
		</div>	  
		<div class="control-group">
		<label class="control-label" for="Password2">Nhập lại mật khẩu <sup>*</sup></label>
		<div class="controls">
		  <input type="password" name="Password2" placeholder="Nhập lại mật khẩu" >
		</div>
		</div>	  

		<h4>ĐỊA CHỈ</h4>
		<div class="control-group">
			<label class="control-label" for="Address">Địa chỉ<sup>*</sup></label>
			<div class="controls">
			  <input type="text" name="Address" placeholder="Địa chỉ" value={{this.Address}}> <span>Tên đường, quận (huyện)</span>
			</div>
		</div>
		
		<div class="control-group">
			<label class="control-label " for="Phone">Điện thoại<sup>*</sup></label>
			<div class="controls">
			  <input type="text"  name="Phone" placeholder="Điện thoại" value={{this.Phone}}>
			</div>
		</div>
		
		
	<p><sup>*</sup>Bắt buộc	</p>
	
	<div class="control-group">
			<div class="controls">
				<input class="btn btn-large btn-success" type="submit" value="Đăng kí" />
			</div>
		</div>		
	</form>
</div>

</div>
</div>
</div>
</div>