<!-- Mobile Menu end -->
<div class="breadcome-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcome-list single-page-breadcome">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="breadcome-heading">

                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <ul class="breadcome-menu">
                                <li><a href="index.html">Home</a> <span class="bread-slash">/</span>
                                </li>
                                <li><a href="/categories">Danh sách gian hàng</a> <span class="bread-slash">/</span>
                                </li>
                                <li><a href="/categories/{{Category}}/products">Danh sách sản phẩm</a> <span
                                        class="bread-slash">/</span>
                                </li>
                                <li>
                                    {{#if product}}
                                    <span class="bread-blod">Cập nhật sản phẩm</span>
                                    {{else}}
                                    <span class="bread-blod">Thêm sản phẩm</span>
                                    {{/if}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Single pro tab start-->
<div class="single-product-tab-area mg-tb-15">
    <!-- Single pro tab review Start-->
    <div class="single-pro-review-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="review-tab-pro-inner">
                        <ul id="myTab3" class="tab-review-design">
                            {{#if product}}
                            <li class="active"><a href="#description"><i class="fa fa-pencil" aria-hidden="true"></i>
                                    Cập nhật sản phẩm</a></li>
                            {{else}}
                            <li class="active"><a href="#description"><i class="fa fa-pencil" aria-hidden="true"></i>
                                    Thêm sản phẩm</a>
                            <li></li>
                            {{/if}}
                        </ul>
                        <div id="myTabContent" class="tab-content custom-product-edit">
                            <div class="product-tab-list tab-pane fade active in" id="description">
                                <form action='/categories/{{Category}}/products/addProduct?category={{Category}}' method="POST"
                                                enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="review-content-section">
                                            {{#if product}}
                                            <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon"><b>Thương hiệu&emsp;&emsp;&emsp;</b></span>
                                                    <select name="Brand" class="form-control">
                                                        {{#each brands}}
                                                        {{#compareString this ../product.Brand}}
                                                            <option value="{{../this}}" selected>{{../this}}</option>
                                                        {{else}}
                                                            <option value="{{../this}}">{{../this}}</option>
                                                        {{/compareString}}
                                                        {{/each}}
                                                    </select>
                                                </div>
                                            <div class="input-group mg-b-pro-edt">
                                                <span class="input-group-addon"><b>Dòng sản
                                                        phẩm&emsp;&emsp;&emsp;&nbsp;&nbsp;</b></span>
                                                <input name="Name" value="{{product.Name}}" type="text"
                                                    class="form-control" placeholder="Dòng sản phẩm">
                                            </div>
                                            <div class="input-group mg-b-pro-edt">
                                                <span class="input-group-addon"><b>Tên sản
                                                        phẩm&emsp;&emsp;&emsp;&nbsp;&nbsp;</b></span>
                                                <input name="SimpleDetail" value="{{product.SimpleDetail}}" type="text"
                                                    class="form-control" placeholder="Tên sản phẩm">
                                            </div>
                                            <div class="input-group mg-b-pro-edt">
                                                <span
                                                    class="input-group-addon"><b>Giá&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;</b></span>
                                                <input name="Cost" type="number" value="{{product.Cost}}" min="0"
                                                    class="form-control" placeholder="Giá sản phẩm">
                                            </div>
                                            <div class="input-group mg-b-pro-edt">
                                                <span class="input-group-addon"><b>Số
                                                        lượng&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;</b></span>
                                                <input name="Quantity" type="number" value="{{product.Quantity}}"
                                                    min="0" class="form-control" placeholder="Số lượng">
                                            </div>
                                            <div class="input-group mg-b-pro-edt">
                                                <span class="input-group-addon"><b>Mô
                                                        tả&emsp;&emsp;&emsp;&nbsp;&nbsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></span>
                                                <input name="Description" type="text" class="form-control" value="{{product.Description}}"
                                                    placeholder="Mô tả">
                                            </div>
                                            <div class="input-group mg-b-pro-edt">
                                                <span class="input-group-addon"><b>Ảnh
                                                        &emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></span>
                                                <input name="image" type="file" min="0" class="form-control"
                                                    placeholder="Số lượng">
                                            </div>
                                            {{else}}
                                                <input name="Category" type="hidden" class="form-control"
                                                        placeholder="Gian hàng" value="{{Category}}">
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon"><b>Dòng sản
                                                            phẩm&emsp;&emsp;&emsp;</b></span>
                                                    <select name="Brand" class="form-control">
                                                        {{#each brands}}
                                                        <option value="{{this}}">{{this}}</option>
                                                        {{/each}}
                                                    </select>
                                                </div>
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon"><b>Dòng sản phẩm&emsp;&emsp;&emsp;&nbsp;&nbsp;</b></span>
                                                    <input name="Name" type="text" class="form-control"
                                                        placeholder="Dòng sản phẩm">
                                                </div>
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon"><b>Tên sản phẩm&emsp;&emsp;&emsp;&nbsp;&nbsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;</b></span>
                                                    <input name="SimpleDetail" type="text" class="form-control"
                                                        placeholder="Chi tiết">
                                                </div>
                                                <div class="input-group mg-b-pro-edt">
                                                    <span
                                                        class="input-group-addon"><b>Giá&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></span>
                                                    <input name="Cost" type="number" min="0" class="form-control"
                                                        placeholder="Giá sản phẩm"
                                                        onkeydown="return event.keyCode !== 69">
                                                </div>
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon"><b>Số
                                                            lượng&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></span>
                                                    <input name="Quantity" type="number" min="0" class="form-control"
                                                        placeholder="Số lượng">
                                                </div>
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon"><b>Mô
                                                            tả&emsp;&emsp;&emsp;&nbsp;&nbsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></span>
                                                    <input name="Description" type="text" class="form-control"
                                                        placeholder="Mô tả">
                                                </div>
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon"><b>Ảnh
                                                            &emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></span>
                                                    <input name="image" type="file" min="0" class="form-control"
                                                        placeholder="Số lượng">
                                                </div>
                                            {{/if}}
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="text-center mg-b-pro-edt custom-pro-edt-ds">
                                            {{#if product}}
                                            <button data-toggle="tooltip" name="ID" value={{product._id}}
                                                class="btn btn-primary waves-effect waves-light m-r-10">Đồng ý
                                            </button>
                                            <a href="/categories/{{Category}}/products"><button type="button"
                                                    class="btn btn-warning waves-effect waves-light">Đóng
                                                </button></a>
                                            {{else}}
                                            <button data-toggle="tooltip" name="ID"
                                                class="btn btn-primary waves-effect waves-light m-r-10">Đồng ý
                                            </button>
                                            <a href="/categories/{{Category}}/products"><button type="button"
                                                    class="btn btn-warning waves-effect waves-light">Đóng
                                                </button></a>
                                            {{/if}}

                                        </div>
                                    </div>
                                </div>
                                </form>
                            </div>


                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>