<!-- Sidebar end=============================================== -->
<div class="span9">
	<ul class="breadcrumb">
		<li><a href="index">Home</a> <span class="divider">/</span></li>
		<li class="active">Tài khoản</li>
	</ul>
	<h3> Thông Tin Tài Khoản</h3>
	<div class="well">
		<form class="form-horizontal">
			<h4>THÔNG TIN CÁ NHÂN</h4>
			<div class="control-group">
				<label class="control-label" for="inputFname1">Tên <sup>*</sup></label>
				<div class="controls">
					<input type="text" id="inputFname1" placeholder="Tên" value="{{user.Name}}">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="input_email">Email <sup>*</sup></label>
				<div class="controls">
					<input type="text" id="input_email" placeholder="Email" value="{{user.Email}}">
				</div>
			</div>
			<h4>ĐỊA CHỈ</h4>
			<div class="control-group">
				<label class="control-label" for="address">Địa chỉ<sup>*</sup></label>
				<div class="controls">
					<input type="text" id="address" placeholder="Adress" value="{{user.Address}}" /> <span>Tên đường,
						quận (huyện)</span>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label " for="phone">Điện thoại<sup>*</sup></label>
				<div class="controls">
					<input type="text" name="phone" id="phone" placeholder="Điện thoại" value="{{user.Phone}}" />
					<span>Bạn bắt buộc phải đăng kí số điện thoại</span>
				</div>
			</div>

			<div class="control-group">
				<div class="controls">
					<button class="btn btn-large btn-success" type="submit">Cập nhập</button>
				</div>
			</div>
		</form>
	</div>

	<h3>Thay đổi mật khẩu</h3>
	<div class="well">
		{{#if error_msg }}
		<div class="alert alert-error alert-dismissible show" role="alert">
			<strong>{{this.error_msg}}</strong>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		{{/if}}
		<form class="form-horizontal" action="/users/change-password" method="POST">
			<div class="control-group">
				<label class="control-label" for="inputFname1">Mật khẩu cũ <sup>*</sup></label>
				<div class="controls">
					<input type="password" id="inputFname1" name="oldpassword" placeholder="Mật khẩu cũ">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="input_email">Mật khẩu mới <sup>*</sup></label>
				<div class="controls">
					<input type="password" id="input_email" name="newpassword1" placeholder="Mật khẩu mới">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputPassword1">Nhập lại mật khẩu <sup>*</sup></label>
				<div class="controls">
					<input type="password" id="inputPassword1" name="newpassword2" placeholder="Mật khẩu mới">
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<input class="btn btn-large btn-success" type="submit" value="Thay đổi" />
				</div>
			</div>
		</form>
	</div>
</div>
</div>


</div>
</div>
</div>
</div>