 <div class="breadcome-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="breadcome-list single-page-breadcome">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <div class="breadcome-heading">
                                            <form role="search" class="">
                                                <input type="text" placeholder="Search..." class="form-control">
                                                <a href=""><i class="fa fa-search"></i></a>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <ul class="breadcome-menu">
                                            <li><a href="index.html">Home</a> <span class="bread-slash">/</span>
                                            </li>
                                            <li><span class="bread-blod">Top Sản phẩm</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<div class="product-sales-area mg-tb-30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="product-sales-chart">
                            <div class="portlet-title">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="caption pro-sl-hd">
                                            <span class="caption-subject text-uppercase"><b>TOP SẢN PHẨM</b></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="actions graph-rp">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="container">
                                <canvas id="myChart"></canvas>
                                <script>
                                let myChart = document.getElementById('myChart').getContext('2d');

                                // Global Options
                                Chart.defaults.global.defaultFontFamily = 'Lato';
                                Chart.defaults.global.defaultFontSize = 13;
                                Chart.defaults.global.defaultFontColor = '#777';

                                // Poll data
                                const dataReceived = {{{pollData}}};
                                const labels = dataReceived.map(x => x.SimpleDetail);
                                const data = dataReceived.map(x => x.TotalSales);
                                const backgroundColor = dataReceived.map(x => x.Color);

                                let massPopChart = new Chart(myChart, {
                                type:'pie', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
                                data:{
                                    labels,
                                    datasets:[{
                                        data,
                                        backgroundColor,
                                        borderWidth: 1,
                                        borderColor: '#000',
                                        hoverBorderWidth:3,
                                        hoverBorderColor:'#000'
                                    }]
                                },
                                options:{
                                    title:{
                                        display:true,
                                        text:`TOP ${dataReceived.length} SẢN PHẨM BÁN CHẠY NHẤT`,
                                        fontSize:25
                                    },
                                    legend:{
                                        display:true,
                                        position:'right',
                                        labels:{
                                            fontColor:'#000',
                                        }
                                    },
                                    tooltips:{
                                        enabled:true,
                                    }
                                }
                                });
                            </script>
                            </div>
                    </div>
                    </div>

                </div>
            </div>
        </div>
         <div class="product-status mg-tb-15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="product-status-wrap">
                            <h4>Thống kê

                            </h4>
                            
                            <table>
                                <tr>

                                    <th>TOP</th>
                                    <th>Loại sản phẩm</th>
                                    <th>Ảnh</th>
                                    <th>Thương hiệu</th>
                                    <th>Dòng sản phẩm</th>
                                    <th>Tên sản phẩm</th>
                                    <th>Giá</th>
                                    <th>Số lượng còn lại</th>
                                    <th>Tình trạng</th>
                                    <th>Doanh thu</th>
                                </tr>
                                {{#each topItems}}
                                    <tr>
                                        <td>{{this.TOP}}</td>
                                        <td>{{this.DisplayNameCategory}}</td>
                                        <td><img src={{this.Image}} alt="" /></td>
                                        <td>{{this.Brand}}</td>
                                        <td>{{this.Name}}</td>
                                        <td>{{this.SimpleDetail}}</td>
                                        <td>{{_toStringMoney this.Cost}}</td>
                                        <td>{{this.Quantity}}</td>
                                        <td>
                                            {{#activityState this.isDelete}}
                                            {{/activityState}}
                                        </td>
                                        <td>{{_toStringMoney this.TotalSales}}</td>
                                    
                                    </tr>
                                {{/each}}

                               
                            </table>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>