<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Admin Panel</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
		============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Play:400,700" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/owl.theme.css">
    <link rel="stylesheet" href="/css/owl.transitions.css">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="/css/animate.css">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="/css/normalize.css">
    <!-- meanmenu icon CSS
		============================================ -->
    <link rel="stylesheet" href="/css/meanmenu.min.css">
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- morrisjs CSS
		============================================ -->
    <link rel="stylesheet" href="/css/morrisjs/morris.css">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href="/css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- metisMenu CSS
		============================================ -->
    <link rel="stylesheet" href="/css/metisMenu/metisMenu.min.css">
    <link rel="stylesheet" href="/css/metisMenu/metisMenu-vertical.css">
    <!-- calendar CSS
		============================================ -->
    <link rel="stylesheet" href="/css/calendar/fullcalendar.min.css">
    <link rel="stylesheet" href="/css/calendar/fullcalendar.print.min.css">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="/css/responsive.css">
    <!-- modernizr JS
		============================================ -->
    <script src="/js/vendor/modernizr-2.8.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- select2 CSS
		============================================ -->
         <link rel="stylesheet" href="/css/select2/select2.min.css">
    <style>
      /* Center the loader */
      #loader {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 1;
        width: 150px;
        height: 150px;
        margin: -75px 0 0 -75px;
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #db3434;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
      }

      @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
      }

      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }

      /* Add animation to "page content" */
      .animate-bottom {
        position: relative;
        -webkit-animation-name: animatebottom;
        -webkit-animation-duration: 1s;
        animation-name: animatebottom;
        animation-duration: 1s
      }

      @-webkit-keyframes animatebottom {
        from { bottom:-100px; opacity:0 } 
        to { bottom:0px; opacity:1 }
      }

      @keyframes animatebottom { 
        from{ bottom:-100px; opacity:0 } 
        to{ bottom:0; opacity:1 }
      }

      #myDiv {
        display: none;
      }
    </style>
</head>

<body>
    <div id="loader"></div>
    <div class="left-sidebar-pro">
        <nav id="sidebar" class="">
            <div class="sidebar-header">
                <a href="/"><img class="main-logo" src="/img/logo/admin.png" alt="" /></a>
                <strong><img src="/img/logo/logosn.png" alt="" /></strong>
            </div>
            <div class="left-custom-menu-adp-wrap comment-scrollbar">
                <nav class="sidebar-nav left-sidebar-menu-pro">
                    <ul class="metismenu" id="menu1">
                        <li>
                            <a class="has-arrow" href="index.html" aria-expanded="false"><i
                                    class="fa big-icon fa-bar-chart-o icon-wrap"></i> <span class="mini-click-non">Thống
                                    kê</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="Inbox" href="TKNgay.html"><i class="fa big-icon fa-table icon-wrap"
                                            aria-hidden="true"></i> <span class="mini-sub-pro">Theo ngày</span></a></li>
                                <li><a title="View Mail" href="TKThang.html"><i class="fa big-icon fa-table icon-wrap"
                                            aria-hidden="true"></i> <span class="mini-sub-pro">Theo tháng</span></a>
                                </li>
                                <li><a title="View Mail" href="TKNam.html"><i class="fa big-icon fa-table icon-wrap"
                                            aria-hidden="true"></i> <span class="mini-sub-pro">Theo năm</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/users" aria-expanded="false"><i class="fa fa-female sub-icon-mg"></i> <span
                                    class="mini-click-non">Người dùng</span></a>
                        </li>
                        <li>
                            <a class="has-arrow" href="#" aria-expanded="false"><i
                                    class="fa big-icon fa-envelope icon-wrap"></i> <span class="mini-click-non">Gian
                                    hàng</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                {{#each Categories}}
                                <li><a class="has-arrow" title={{this.DisplayName}} href="/categories/{{Type}}/products"><i
                                            class="fa fa-list sub-icon-mg" aria-hidden="true"></i> <span
                                            class="mini-sub-pro">{{this.DisplayName}}</span></a>
                                  <ul class="submenu-angle" aria-expanded="false">
                                        <li><a title="Tất cả" href="/categories/{{Type}}/products"><i
                                                    class="fa fa-list sub-icon-mg" aria-hidden="true"></i> <span
                                                    class="mini-sub-pro">Tất cả</span></a></li>
                                        {{#each this.Brands}}
                                        <li><a title="{{this}}" href="/categories/{{../Type}}/products?Brand={{this}}"><i
                                                    class="fa fa-television sub-icon-mg" aria-hidden="true"></i> <span
                                                    class="mini-sub-pro">{{this}}</span></a></li>
                                        {{/each}}
                                  </ul>            
                                </li>
                                {{/each}}
                                <li><a title="Settings" href="/categories"><i class="fa fa-cube sub-icon-mg"
                                            aria-hidden="true"></i> <span class="mini-sub-pro">Tùy chỉnh</span></a></li>
                            </ul>
                        </li>

                        <li>
                            <a class="has-arrow" href="#" aria-expanded="false"><i class="fa fa-cube sub-icon-mg"></i>
                                <span class="mini-click-non">Đơn đặt hàng</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="Tất cả" href="/orders"><i class="fa fa-list sub-icon-mg"
                                            aria-hidden="true"></i> <span class="mini-sub-pro">Tất cả mọi đơn</span></a></li>
                                <li><a title="Chưa giao" href="/orders?deliveryType=0"><i class="fa fa-bullseye sub-icon-mg"
                                            aria-hidden="true"></i> <span class="mini-sub-pro">Chưa giao</span></a></li>
                                <li><a title="Đang giao" href="/orders?deliveryType=1"><i class="fa fa-circle-o sub-icon-mg"
                                            aria-hidden="true"></i> <span class="mini-sub-pro">Đang giao</span></a></li>
                                <li><a title="Đã giao" href="/orders?deliveryType=2"><i class="fa fa-cube sub-icon-mg"
                                            aria-hidden="true"></i> <span class="mini-sub-pro">Đã giao</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" href="/top" aria-expanded="false"><i
                                    class="fa fa-line-chart sub-icon-mg"></i> <span
                                    class="mini-click-non">TOP</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="Theo sản phẩm" href="/top"><i class="fa fa-cube sub-icon-mg"
                                            aria-hidden="true"></i> <span class="mini-sub-pro">Theo sản phẩm</span></a>
                                </li>
                                <li><a class="has-arrow" title="Line Charts" href="/top"><i
                                            class="fa fa-area-chart sub-icon-mg" aria-hidden="true"></i> <span
                                            class="mini-sub-pro">Theo gian hàng </span></a>
                                    <ul class="submenu-angle" aria-expanded="false">
                                        {{#each Categories}}
                                        <li><a title="{{this.DisplayName}}" href="/top?Category={{this.Type}}"><i
                                                    class="fa fa-television sub-icon-mg" aria-hidden="true"></i> <span
                                                    class="mini-sub-pro">{{this.DisplayName}}</span></a></li>
                                        {{/each}}
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </nav>
    </div>

    <!-- Start Welcome area -->
    <div class="all-content-wrapper animate-bottom" id="myDiv">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="logo-pro" style="text-align: center;">
                        <a href="/"><img class="main-logo" src="/img/logo/logo.png" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-advance-area">
            <div class="header-top-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="header-top-wraper">
                                <div class="row">
                                    <div class="col-lg-1 col-md-0 col-sm-1 col-xs-12">
                                        <div class="menu-switcher-pro">
                                            <button type="button" id="sidebarCollapse"
                                                class="btn bar-button-pro header-drl-controller-btn btn-info navbar-btn">
                                                <i class="fa fa-bars"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-7 col-sm-6 col-xs-12">
                                        <div class="header-top-menu tabl-d-n">
                                            <ul class="nav navbar-nav mai-top-nav">
                                                <li class="nav-item"><a href="/" class="nav-link">Home</a>
                                                </li>
                                                <li class="nav-item"><a href="/users" class="nav-link">Người dùng</a>
                                                </li>
                                                <li class="nav-item"><a href="/categories" class="nav-link">Gian hàng</a>
                                                </li>
                                                <li class="nav-item"><a href="/orders" class="nav-link">Đơn hàng</a>
                                                </li>
                                                <li class="nav-item"><a href="/top" class="nav-link">TOP</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                        <div class="header-right-info">
                                            <ul class="nav navbar-nav mai-top-nav header-right-menu">
                                                <li class="nav-item">
                                                    {{#if user}}
                                                    <a href="#" data-toggle="dropdown" role="button"
                                                        aria-expanded="false" class="nav-link dropdown-toggle">
                                                        <i class="fa fa-user adminpro-user-rounded header-riht-inf"
                                                            aria-hidden="true"></i>
                                                        <span class="admin-name">{{user.Name}}</span>
                                                        <i
                                                            class="fa fa-angle-down adminpro-icon adminpro-down-arrow"></i>
                                                    </a>
                                                    <ul role="menu"
                                                        class="dropdown-header-top author-log dropdown-menu animated zoomIn">
                                                </li>
                                                <li><a href="/admin/information"><span class="fa fa-user author-log-ic"></span>Thông
                                                        tin</a>
                                                </li>
                                                <li><a href="/users"><span class="fa fa-diamond author-log-ic"></span>
                                                        Khóa</a>
                                                </li>
                                                <li><a href="#"><span class="fa fa-cog author-log-ic"></span>Cài đặt</a>
                                                </li>
                                                <li><a href="/admin/logout"><span class="fa fa-lock author-log-ic"></span>Đăng
                                                        xuất</a>
                                                </li>
                                            </ul>
                                            {{else}}

                                            <a href="#" data-toggle="dropdown" role="button" aria-expanded="false"
                                                class="nav-link dropdown-toggle">
                                                <i class="fa fa-user adminpro-user-rounded header-riht-inf"
                                                    aria-hidden="true"></i>
                                                <span class="admin-name">Admin</span>
                                                <i class="fa fa-angle-down adminpro-icon adminpro-down-arrow"></i>
                                            </a>
                                            <ul role="menu"
                                                class="dropdown-header-top author-log dropdown-menu animated zoomIn">
                                                <li><a href="/admin/login"><span class="fa fa-home author-log-ic"></span>Đăng
                                                        nhập</a>
                                                </li>
                                                <li><a href="/users"><span class="fa fa-diamond author-log-ic"></span>
                                                        Khóa</a>
                                                </li>
                                                <li><a href="#"><span class="fa fa-cog author-log-ic"></span>Cài đặt</a>
                                                </li>
                                            </ul>
                                            {{/if}}

                                            </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            {{{body}}}
        </div>
        <div class="footer-copyright-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="footer-copy-right">
                            <p>Admin panel</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jquery
		============================================ -->
    <script src="/js/vendor/jquery-1.11.3.min.js"></script>
    <!-- bootstrap JS
		============================================ -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- wow JS
		============================================ -->
    <script src="/js/wow.min.js"></script>
    <!-- select2 JS
		============================================ -->
    <script src="/js/select2/select2.full.min.js"></script>
    <script src="/js/select2/select2-active.js"></script>
    <!-- price-slider JS
		============================================ -->
    <script src="/js/jquery-price-slider.js"></script>
    <!-- meanmenu JS
		============================================ -->
    <script src="/js/jquery.meanmenu.js"></script>
    <!-- owl.carousel JS
		============================================ -->
    <script src="/js/owl.carousel.min.js"></script>
    <!-- sticky JS
		============================================ -->
    <script src="/js/jquery.sticky.js"></script>
    <!-- scrollUp JS
		============================================ -->
    <script src="/js/jquery.scrollUp.min.js"></script>
    <!-- mCustomScrollbar JS
		============================================ -->
    <script src="/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/js/scrollbar/mCustomScrollbar-active.js"></script>
    <!-- metisMenu JS
		============================================ -->
    <script src="/js/metisMenu/metisMenu.min.js"></script>
    <script src="/js/metisMenu/metisMenu-active.js"></script>
    <!-- morrisjs JS
		============================================ -->
    <script src="/js/morrisjs/raphael-min.js"></script>
    <script src="/js/morrisjs/morris.js"></script>
    <script src="/js/morrisjs/morris-active.js"></script>
    <!-- morrisjs JS
		============================================ -->
    <script src="/js/sparkline/jquery.sparkline.min.js"></script>
    <script src="/js/sparkline/jquery.charts-sparkline.js"></script>
    <!-- calendar JS
		============================================ -->
    <script src="/js/calendar/moment.min.js"></script>
    <script src="/js/calendar/fullcalendar.min.js"></script>
    <script src="/js/calendar/fullcalendar-active.js"></script>
    <!-- plugins JS
		============================================ -->
    <script src="/js/plugins.js"></script>
    <!-- main JS
		============================================ -->
    <script src="/js/main.js"></script>

    <!---Page all loaded-->
    <script>
      function stopLoading(){
        document.getElementById("loader").style.display = "none";
        document.getElementById("myDiv").style.display = "block";
      }
      function startLoading(){
        document.getElementById("loader").style.display = "block";
        document.getElementById("myDiv").style.display = "none";
      }
      var $loading = $('#loader').hide();
      var $myDiv = $('#myDiv').show();
      $(document)
        .ajaxStart(function () {
          $loading.show();
          $myDiv.hide();
        })
        .ajaxStop(function () {
          $loading.hide();
          $myDiv.show();
        });
    </script>
</body>

</html>